<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.Title</title>

    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/jquery.jqChart.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/Google/jsapi.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqChart.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Custom/UglyCode.js")" type="text/javascript"></script>
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>@Html.RouteLink("JBS / Bank Transaction Analytics", new { Controller = "Home", Action = "Index" })</h1>
            <h4>Because we need to know where all of that money goes to..</h4>
        </div>

        <div id="content_container">
            <div id="content">
                @RenderBody()
            </div>
        </div>

        <div id="footer">
            <div id="inner_footer">
                <h4>&copy; 2012 - JBS</h4>
            </div>
        </div>
    </div>
</body>

</html>
