<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.Title</title>

    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Custom/jbs-general.js")" type="text/javascript"></script>
    <script src="https://www.google.com/jsapi" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/Custom/jbs-google.js")" type="text/javascript"></script>
</head>
<body>
    <div id="main">
        <div id="header">
            <a href="/Home">
                <h1>JBS / Bank Transaction Analytics</h1>
            </a>
            <h4>Because we need to know where all of that money goes to..</h4>
        </div>
        <div id="main_content_container">
            <div id="content_menu">
                <ul id="accordion">
                    <li>
                        <div>Transactions</div>
                        <ul>
                            <li>@Ajax.ActionLink("All transactions", null, new { Controller = "Home", Action = "All" }, new AjaxOptions() { UpdateTargetId = "content" })</li>
                            <li>@Ajax.ActionLink("Overview per group", null, new { Controller = "Home", Action = "Overview" }, new AjaxOptions() { UpdateTargetId = "content" })</li>
                            <li>@Ajax.ActionLink("Overview per month", null, new { Controller = "Home", Action = "Monthly" }, new AjaxOptions() { UpdateTargetId = "content" })</li>
                            <li>@Ajax.ActionLink("Overview per type", null, new { Controller = "Home", Action = "Types" }, new AjaxOptions() { UpdateTargetId = "content" })</li>
                            <li>@Ajax.ActionLink("Overview per type in user-defined period", null, new { Controller = "Home", Action = "GetTypesInGivenPeriod" }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "content" })</li>
                            <li>@Ajax.ActionLink("Past 7 days", null, new { Controller = "Home", Action = "Recent" }, new AjaxOptions() { UpdateTargetId = "content" })</li>
                            <li>@Ajax.ActionLink("Money statistics", null, new { Controller = "Home", Action = "Stats" }, new AjaxOptions() { UpdateTargetId = "content" })</li>
                            <li>@Ajax.ActionLink("ATM Transactions", null, new { Controller = "Home", Action = "ATM" }, new AjaxOptions() { UpdateTargetId = "content" })</li>
                            <li>@Ajax.ActionLink("PoS Payment Transactions", null, new { Controller = "Home", Action = "PoS" }, new AjaxOptions() { UpdateTargetId = "content" })</li>
                        </ul>
                    </li>
                    <li>
                        <div>Charts</div>
                        <ul>
                            <li>@Ajax.ActionLink("Global charts", null, new { Controller = "Home", Action = "Charts" }, new AjaxOptions() { UpdateTargetId = "content" })</li>
                        </ul>
                    </li>
                    <li>
                        <div>Miscellaneous</div>
                        <ul>

                            <li>@Ajax.ActionLink("System information", null, new { Controller = "Home", Action = "Author" }, new AjaxOptions() { UpdateTargetId = "content" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="content_container">
                <div id="content">
                    @RenderBody()
                </div>
            </div>
        </div>
       
    </div>
    <div id="footer_container">

     <div id="footer">
            <div id="inner_footer">
                <h4>&copy; 2012 - JBS</h4>
            </div>
        </div>
        
    </div>
</body>

</html>
