@using BankTransactions.Controllers.Adapters

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Options</h2>

<h4>Account configuration</h4>
<p>@Ajax.ActionLink("Test", null, new { Controller = "Resource", Action = "Index" }, new AjaxOptions() { UpdateTargetId = "content" })</p>

<h4>Overall transaction information</h4>
<p>@Html.RouteLink("All transactions", new { Controller = "Home", Action = "All" })</p>
<p>@Html.RouteLink("Overview per group", new { Controller = "Home", Action = "Overview" })</p>
<p>@Html.RouteLink("Overview per month", new { Controller = "Home", Action = "Monthly" })</p>
<p>@Html.RouteLink("Overview per type", new { Controller = "Home", Action = "Types" })</p>
<p>@Html.RouteLink("Overview per type in user-defined period", new { Controller = "Home", Action = "GetTypesInGivenPeriod" })</p>
<p>@Html.RouteLink("Past 7 days", new { Controller = "Home", Action = "Recent" })</p>
<p>@Html.RouteLink("Statistics", new { Controller = "Home", Action = "Stats" })</p>

<h4>Filtered transactions</h4>
<p>@Html.RouteLink("ATM Transactions", new { Controller = "Home", Action = "ATM" })</p>
<p>@Html.RouteLink("PoS Payment Transactions", new { Controller = "Home", Action = "PoS" })</p>

<h4>Charting</h4>
<p>@Html.RouteLink("Global charts", new { Controller = "Home", Action = "Charts" })</p>

<h4>Info</h4>
<p>@Html.RouteLink("System information", new { Controller = "Home", Action = "Author" })</p>