@using nl.jbs.banktransactions

@model IEnumerable<BankRecord>

@* Get the transactioncounter and increment it by 1 *@
@* TODO Do something proper instead of this lousy disgusting bullcrap shitfaced hacky workaround chaos *@
@{int transactionCounter = (int)(HttpContext.Current.Items["TransactionCounter"] = (HttpContext.Current.Items.Contains("TransactionCounter") ? ((int)HttpContext.Current.Items["TransactionCounter"]) + 1 : 0));}
           
@{int counter = 0;}

<table class="data" id="transactionTable_@(transactionCounter)">
    <tr><th>Datum</th><th>Hoeveelheid</th><th>Tegenrekening</th><th>Beschrijving</th></tr>

    @foreach (BankRecord record in Model) {
        string type = record.Type.Equals(BankRecord.TransactionType.CREDIT) ? "gain" : "gone";

        string visibility = (counter++ > 5) ? "hide_row" : "";
        string odd_or_even = (counter % 2 == 1) ? "odd" : "even"; 
            
        <tr class="@type @visibility @odd_or_even">
            <td>@record.RequestDate.ToString("dd-MM-yyyy")</td>
            <td>@string.Format("{0:C}", record.Amount)</td>
            <td>@Html.RouteLink(record.Name, new { Controller = "Home", Action = "Details", Name = record.Name})</td>
            <td>@record.Description1</td>
        </tr>
    }

</table>

<div class="buttonBar">
    <p class="showMoreToggleButton" onclick="toggleVisibility('transactionTable_@(transactionCounter)', this);">Show more...</p>

    @Html.Partial("Partials/GoogleChart", Model)
</div>